.banner {
    background: var(--cor-azul-degrade);
    text-align: center;
    color: var(--cor-branca);
    padding: 7% 3.5% 6%;
}

.banner__titulo {
    font-size: var(--fonte-18);
    font-weight: var(--peso-700);
}

.banner__paragrafo {
    margin: 4% 5% 4%;
    font-weight: var(--peso-500);
    font-size: var(--fonte-16);
    line-height: normal;
}