@import url("/css/header.css");

:root {
    --cor-de-fundo: #C4C4C4;
    --cor-branca: #FFFFFF;
}

body {
    background-color: var(--cor-de-fundo);
    text-decoration: none;
}

.lista-menu, .lista-menu.item {
    background-color: var(--cor-branca);
    padding: 1em;
}