@import url("/css/header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-de-fundo: #C4C4C4;
    --cor-branca: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul: #002F52;

    --fonte-16: 1rem;

    --fonte-poppins: 'Poppins', sans-serif;

    --peso-700: 700;
    --peso-500: 500;
    --peso-300: 300;
}

body {
    background-color: var(--cor-de-fundo);
    text-decoration: none;
    font-family: var(--fonte-poppins);
}

